@LargeMedia : ~"(max-width:1200px) and (min-width:992px)";
@MediumMedia : ~"(max-width:991px) and (min-width:778px)";
@smallMedia : ~"(max-width:777px)";

// @media@LargeMedia{
// }    
// @media@MediumMedia{
// }
// @media@smallMedia{
// }

@mainColor:#424242;

*{
    margin: 0;
    padding: 0;
}
html,body{
    background-color: lighten(@mainColor,1%);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    height: 2000px;
    overflow-x: hidden;
}
input,button{
    outline: 0 none;
}

header{
    width: 100%;
    height: 50px;
    background: @mainColor;
    position: fixed;
    z-index: 999;
        div.head{ 
            max-width: 1200px;
            margin: 0px auto;        
            padding: 10px;
            div.ham_btn{
                width: 22px;
                height: 100%;
                display: inline-block;
                float: left;
                div{
                    width: 100%;
                    height: 2px;
                    margin-bottom: 5px;
                    margin-top: 5px;
                    background: white;   
                    position: relative;
                }
            }
            h3{
                width: 20%;
                height: 100%;
                margin-left: 10px;
                color: white;
                font-size: 1.0rem;
                font-weight: normal;
                float: left;
            }
            div.inputs{
                width: 65%;
                height: 100%;
                float: left;
                background-color: lighten(@mainColor,10%);
                margin-left: 10px;
                input{
                    width: 100%;
                    border: none;
                    background-color: lighten(@mainColor,10%);
                    &::placeholder{
                        color: white; 
                        padding-left: 10px;
                     }
                   
                }
            }

        }
}
div#container{
    width: 100%;
    height: 100%;
    nav{
        width: 20%;
        min-width: 300px;;
        height: 100%;
        background-color: lighten(@mainColor,5%);
        box-sizing: border-box;
        position: fixed;
        left: -80%;
        top: 50px;
        z-index: 999;;
        div.account{
            width: 100%;
            height: 30px;
            margin-top: 20px;
            p{
                width: 25%;
                height: 100%;
                float: left;
                font-size: 0.8rem;
                color: white;
                box-sizing: border-box;
                text-align: center;
            }
            ul{
                width: 100%;
                padding-left: 30px;
                float: left;
                h4{
                    margin-top: 30px;
                    margin-bottom: 20px;
                    font-size: 1.1rem;
                    color: white;
                }
                li{
                    height: 40px;;
                    list-style-type: none;
                    color: white;
                    font-size: 0.85rem;
                    line-height: 40px;
                    span{
                        img{
                            margin-right: 10px;
                            display: inline;    
                        }

                    }
                   

                }

            }
        }
    }
    main{
        max-width: 1024px;
        margin: 0px auto;
        position: relative;
        top: 50px;
        section{
            max-width: 1024px;            
            margin: 0px auto;
        }
        section.section1{
            padding-top: 20px;  

            h1{
                padding-left: 20px;
                color: white;
                font-size: 1.3rem;
                line-height: 1.4rem;
                span{
                    font-size: 0.55em;
                    color: darken(lightgray,35%);
                }
            }
            div.section1_contents{
                margin-top: 30px;
                h2{
                    padding-left: 20px;
                    color: white;
                    font-size: 1.2rem;
                    font-weight: normal;
                }
                div.contents{
                    width: 450%;
                    height: 350px;
                    padding: 10px;
                    overflow: hidden;

                    div.movie_box{
                        width: 8.5%;
                        height: 100%;
                        margin-right: 1%;
                        float: left;
                        div.poster{
                            width: 100%;
                            height: 220px;
                            background-image: url(../img/movie_poster1.jpg);
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                        }
                        div.text{

                            h3{
                                color: white;
                                font-size: 1.1rem;
                                padding-top: 10px;
                            }
                            p{
                                display: inline-block;
                                background: lighten(@mainColor,10%);
                                color: lightgray;
                                border-radius: 2px;
                                font-size: 0.8rem;
                            }
                            div.star{
                                color: white;
                            }
                            div.date{
                                color: gray;
                            }
                            
                        }

                    }
                }
            }
        }


        
    }
}
