* {
  margin: 0;
  padding: 0;
}
html,
body {
  background-color: #454545;
  font-family: 'Noto Sans KR', sans-serif;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
}
@media (max-width:1200px) and (min-width:992px) {
  html,
  body {
    font-size: 14px;
  }
}
@media (max-width:991px) and (min-width:550px) {
  html,
  body {
    font-size: 12px;
  }
}
input,
button {
  outline: 0 none;
}
header {
  width: 100%;
  height: 50px;
  background: #424242;
  position: fixed;
  z-index: 999;
}
header div.head {
  max-width: 1200px;
  margin: 0px auto;
  padding: 10px;
}
header div.head div.ham_btn {
  width: 22px;
  height: 100%;
  display: inline-block;
  float: left;
}
header div.head div.ham_btn div {
  width: 100%;
  height: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  background: white;
  position: relative;
}
header div.head h3 {
  width: 20%;
  height: 100%;
  margin-left: 10px;
  color: white;
  font-size: 1rem;
  font-weight: normal;
  float: left;
}
header div.head div.inputs {
  width: 65%;
  height: 100%;
  float: left;
  background-color: #5c5c5c;
  margin-left: 10px;
}
header div.head div.inputs input {
  width: 100%;
  border: none;
  background-color: #5c5c5c;
}
header div.head div.inputs input::placeholder {
  color: white;
  padding-left: 10px;
}
div#container {
  width: 100%;
  height: 100%;
}
div#container nav {
  width: 20%;
  min-width: 250px;
  height: 100%;
  background-color: #4f4f4f;
  box-sizing: border-box;
  position: fixed;
  left: -100%;
  top: 50px;
  z-index: 999;
}
div#container nav div.account {
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
div#container nav div.account p {
  width: 25%;
  height: 100%;
  float: left;
  font-size: 0.8rem;
  color: white;
  box-sizing: border-box;
  text-align: center;
}
div#container nav div.account ul {
  width: 100%;
  padding-left: 30px;
  float: left;
}
div#container nav div.account ul h4 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  color: white;
}
div#container nav div.account ul li {
  height: 40px;
  list-style-type: none;
  color: white;
  font-size: 0.85rem;
  line-height: 40px;
}
div#container nav div.account ul li span img {
  margin-right: 10px;
  display: inline;
}
div#container main {
  max-width: 1200px;
  margin: 0px auto;
  position: relative;
  top: 50px;
}
div#container main section {
  max-width: 1200px;
  margin: 0px auto;
}
div#container main section.section1 {
  padding-top: 20px;
}
@media (min-width:1200px) {
  div#container main section.section1 {
    height: 800px;
  }
}
@media (max-width:1200px) and (min-width:992px) {
  div#container main section.section1 {
    height: 850px;
  }
}
@media (max-width:991px) and (min-width:550px) {
  div#container main section.section1 {
    height: 1500px;
  }
}
div#container main section.section1 h1 {
  padding-left: 20px;
  color: white;
  font-size: 1.3rem;
  line-height: 1.4rem;
}
div#container main section.section1 h1 span {
  font-size: 0.55em;
  color: #7a7a7a;
}
div#container main section.section1 div.section1_contents {
  margin-top: 30px;
}
div#container main section.section1 div.section1_contents h2 {
  padding-left: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
}
div#container main section.section1 div.section1_contents div.contents {
  width: 450%;
  height: 350px;
  padding: 10px;
}
@media (min-width:1200px) {
  div#container main section.section1 div.section1_contents div.contents {
    width: 100%;
  }
}
@media (max-width:1200px) and (min-width:992px) {
  div#container main section.section1 div.section1_contents div.contents {
    width: 100%;
  }
}
@media (max-width:991px) and (min-width:550px) {
  div#container main section.section1 div.section1_contents div.contents {
    width: 100%;
  }
}
div#container main section.section1 div.section1_contents div.contents div.movie_box {
  width: 8.5%;
  height: 100%;
  margin-right: 1%;
  float: left;
}
@media (min-width:1200px) {
  div#container main section.section1 div.section1_contents div.contents div.movie_box {
    width: 15%;
    float: none;
    display: inline-block;
  }
}
@media (max-width:1200px) and (min-width:992px) {
  div#container main section.section1 div.section1_contents div.contents div.movie_box {
    width: 18%;
  }
}
@media (max-width:991px) and (min-width:550px) {
  div#container main section.section1 div.section1_contents div.contents div.movie_box {
    width: 30%;
  }
}
div#container main section.section1 div.section1_contents div.contents div.movie_box div.poster {
  width: 100%;
  height: 220px;
  background-image: url(../img/movie_poster1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
div#container main section.section1 div.section1_contents div.contents div.movie_box div.text h3 {
  color: white;
  font-size: 1.1rem;
  padding-top: 5px;
}
div#container main section.section1 div.section1_contents div.contents div.movie_box div.text p {
  display: inline-block;
  background: #5c5c5c;
  color: lightgray;
  border-radius: 2px;
  font-size: 0.8rem;
}
div#container main section.section1 div.section1_contents div.contents div.movie_box div.text div.star {
  color: white;
}
div#container main section.section1 div.section1_contents div.contents div.movie_box div.text div.date {
  color: gray;
}
div#container main section.section2 {
  margin: 20px auto;
}
div#container main section.section2 h2 {
  padding-left: 20px;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
}
div#container main section.section2 div.previews {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}
div#container main section.section2 div.preview {
  width: 100%;
  height: 380px;
  padding: 10px;
  box-sizing: border-box;
}
@media (min-width:1200px) {
  div#container main section.section2 div.preview {
    width: 50%;
    float: left;
    padding: 20px;
  }
}
@media (max-width:1200px) and (min-width:992px) {
  div#container main section.section2 div.preview {
    width: 50%;
    float: left;
    padding: 20px;
  }
}
@media (max-width:991px) and (min-width:550px) {
  div#container main section.section2 div.preview {
    width: 50%;
    float: left;
    padding: 20px;
  }
}
div#container main section.section2 div.preview div.youtubepopup {
  width: 100%;
  height: 250px;
  background: gray;
  margin: 0px auto;
}
@media (min-width:1200px) {
  div#container main section.section2 div.preview div.youtubepopup {
    height: 300px;
  }
}
div#container main section.section2 div.preview div.youtubepopup iframe {
  width: 100%;
  height: 100%;
}
div#container main section.section2 div.preview div.text h3 {
  color: white;
}
div#container main section.section2 div.preview div.text p {
  display: inline-block;
  background: #5c5c5c;
  color: lightgray;
  border-radius: 2px;
  font-size: 0.8rem;
}
div#container main section.section2 div.preview div.text div.date {
  color: gray;
}
div#container main section.section2 div.preview div.text div.infomation {
  color: white;
  font-size: 0.8rem;
}
